/* https://studio.mockmagic.com/ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  /* border: 0.1px dotted lightblue; */
  overflow: hidden;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  height: 82px;
}

.topnav-links {
  padding-right: 24px;
}

.topnav-skip-links {
  display: flex;
}

.cta-base {
  width: 135px;
}

.skip-link-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  border: none;
  outline: none;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  transition: 200ms ease-in;
}

.skip-link-cta:hover,
.skip-link-cta:focus {
  color: #cf0d5e;
}

.topnav a {
  color: #f2f2f2;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}

.topnav a:hover {
  color: grey;
}

.topnav a.active {
  color: gold;
}

.topnav .open-icon {
  display: none;
  font-size: 20px;
}

.overlay-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.97);
}

.overlay-nav-content {
  width: 100%;
}

.overlay-nav-content a {
  padding-top: 12px;
  font-size: 20px;
  color: #000000;
}

.overlay-nav-content a:focus {
  color: black;
}

.close-icon {
  padding-bottom: 24px;
  font-size: 20px;
  color: black;
}

.back-button {
  display: flex;
  align-items: center;
}

.back-button i {
  padding-right: 8px;
}

.contact-cta-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: #ffffff;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  border: none;
  outline: none;
  margin: 0;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: 200ms ease-in;
}

.contact-cta-1:hover,
.contact-cta-1:focus {
  color: white;
  background-color: rgb(52, 49, 49);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.footer-links {
  padding-left: 12px;
}

.footer-links a {
  padding-right: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footer-text {
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 786px) {
  * {
    overflow-y: scroll;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav .open-icon {
    display: block;
  }

  .skip-link-cta {
    display: none;
  }

  .overlay-nav.responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s ease-out;
  }

  .overlay-nav.responsive a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .overlay-nav .close-icon {
    display: block;
  }
}

.star {
  height: 1px;
  width: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px white;
  background: powderblue;
  position: absolute;
  z-index: -1;
}

.star.pulse {
  animation: STAR 2s infinite;
  -webkit-animation: STAR 2s infinite;
}

@-webkit-keyframes STAR {
  0% {
    background: powderblue;
    height: 1px;
    width: 1px;
    box-shadow: 0px 0px 10px white;
  }
  10% {
    background: #b0e5de;
  }
  20% {
    background: #b0e5cc;
  }
  30% {
    background: #cce5b0;
  }
  40% {
    background: #dae5b0;
  }
  50% {
    background: #e5ddb0;
    width: 4px;
    height: 4px;
    box-shadow: 0px 0px 10px #d3bd3d;
  }
  100% {
    width: 1px;
    height: 1px;
    background: powderblue;
    box-shadow: 0px 0px 10px white;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  /* background: linear-gradient(
        to right,
        #e2e0b5 20%,
        #44107a 30%,
        #ff1361 70%,
        #fff800 80%
      ); */

  background-size: 500% auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: textFlow 8s linear infinite;
}

@keyframes textFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
